# datasets and images
dataset/
stage_2_test_images/
stage_2_train_images/

# virtual environment
venv/

# large medical files
*.dcm
*.zip
*.tar
*.gz
# Datasets (external HDD)
data/
*.jpg
*.png

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
